[Desktop Entry]
Encoding=UTF-8
Name=Nightwave Plaza
Type=Application
Exec=/opt/nightwave-plaze-electron/nightwave-plaze-electron
Icon=nvidia
StartupWMClass=nightwave plaza
Categories=Music;
Keywords=Music;Radio;PLAZA;NIGHTWAVE;
